////
/// File level annotation test
/// @author jayfid
////

# development only
html * {
    outline: 1px red solid !important;
}

@import 'config/config';
@import 'lib/normalize';

@import 'base/typography';
