////
/// File level annotation test
/// @author jayfid
////
$debug: false;
@import 'config/config';
@import 'mixins/mixins';
@import 'lib/lib';
@import 'base/base';

@if $debug {
    html * {
        outline: 1px red solid !important;
    }
}
