/// typography

// set a root font size for use with em/rem units
// default: 14px
html {
    font-size: $font-size-base;
}

// let all elements have an implicit font family.  especially useful when
// embedding iframes.
body {
    font-family: $font-family-base;
}

body * {
    font-family: inherit;
}

// set a fairly arbitrary heading styles.  assuming this will be
// overwritten in local css in most projects.
@each $level, $size in $headers {
    #{$level} {
        @include fontSize($size);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight   : $font-weight-bold;
    margin        : 0 0 $gap-base;
    line-height   : $line-height-multiple * 1em;
    letter-spacing: 0.01em;

    &.title {
        border-bottom : 1px solid;
        text-transform: uppercase;
    }

    &.heading {
        text-indent     : 1rem;
        border-color    : #B7B7B7;
        background-color: #EFEFEF;
        border-width    : 1px 0;
        border-style    : solid;
        padding         : 10px 0;
    }
}

// bowtie for h# elements
.fancy-dan::after {
  height: 0;
  border-bottom: calculateRem(3) solid #e36d6e;
  display: block;
  width: calculateRem(50);
  padding-top: calculateRem(3);
  margin: 0 auto;
  content: "";
  line-height: 0;
}

// dribbblefied near-black text block with large line-height
.display-text {
  font-size: 1rem;
  line-height: 2.4rem;
  color: #232323;
}

// 1000101
code, .code-text {
  font-family: $font-family-code;
  white-space: pre;
}


p {
    line-height: $line-height-multiple * 1em;
    margin     : 0 0 1rem;
}

.example-text {
    padding         : 5px 0;
    background-color: #DCDCDC;
    text-align      : center;
    border-radius   : 3px;
}

.text-left {
  text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.lean {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.noselect {
  @extend %noselect;
}

.clearfix {
   @extend %clearfix;
}

// https://www.w3.org/TR/html5/text-level-semantics.html#the-small-element.
// <small> is suitable for disclaimers, caveats, legal restrictions, or copyrights

small.copyright {
    @include fontSize(12);
}

body {
    background-color: $color-body-bg;
}

@each $color, $hex in $palette {
    .color-bg-#{$color} {
        background-color: #{$hex};

        &.complimentary-color {
          @if isDark($hex) {
               color: lighten($hex, 30%);
          }
          @else {
              color: darken($hex, 30%);
          }
        }
    }
    .color-text-#{$color} {
      color: #{$hex};
    }
}

/// color

a:not([class]),
a:not([class]):visited,
a[class=""],
a[class=""]:visited {
    color: colorGet('blue', 'dark');
}

/// grid
body {
    * {
        box-sizing: border-box;
    }
}

.constrain,
section {
    max-width: maxBreakpoint();
    margin   : auto;

    &.fullscreen {
        max-width: initial;
    }
}

.box {
    border-bottom: 20px solid;
    text-align   : center;
    overflow     : hidden;
}

.flex-vcenter {
    display            : ms-flexbox;
    display            : webkit-flexbox;
    display            : flex;
    -ms-flex-align     : center;
    -webkit-align-items: center;
    -webkit-box-align  : center;
    align-items        : center;

    & > * {
        flex: 1;
    }
}

.cont {
    position : relative;
    max-width: 100%;
    overflow : hidden;
    padding: 0 1.75rem;
}

.no-overflow {
    overflow: hidden;
}

.lane {
  margin: 0 auto;
}

.row {
    &.vcenter {
        align-items    : center;
        justify-content: center;
    }
}

.card {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ababab;
}

footer {
  overflow: hidden;
}

@include paddings();

@media screen and (min-width: #{map-get($breakpoints, 'milli')}px) {
    .cont {}
    @include boxes();
    @include alleys();
    .row {
        display     : flex;
        flex-wrap   : wrap;
        margin-left : -10px;
        margin-right: -10px;
    }
}

@media screen and (min-width: #{map-get($breakpoints, 'deci') + $scrollbar-width}px) {
    .cont {
        padding: 0;
    }

    .row {
        margin-left : 0;
        margin-right: 0;
    }
}

@each $flavor, $colors in $btn-flavors {
    @include btn($flavor, map-get($colors, 'border'), map-get($colors, 'bg'), map-get($colors, 'text'));
}

.btn {
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}

/// message and alert widget

.msg {
    display: block;
    p {
        border-radius: 3px;
        border: 1px solid;
        padding: 1.25rem;
        background-color: colorGet('white', 'base');
    }
    .plain {
        color: $text-color-default;
    }
    &.notice p {
        border-color: colorGet('orange', 'base');
        color: colorGet('orange', 'dark');
        a {
            color: darken(colorGet('orange', 'base'), 20%);
        }
    }
    &.error p {
        border-color: colorGet('red', 'base');
        color: colorGet('red', 'dark');
        a {
            color: darken(colorGet('red', 'dark'), 20%);
        }
    }
    &.info p {
        border-color: colorGet('blue', 'base');
        color: colorGet('blue', 'dark');
        a {
            color: darken(colorGet('blue', 'dark'), 20%);
        }
    }
    &.success p {
        border-color: colorGet('darkgreen', 'base');
        color: colorGet('darkgreen', 'dark');
        a {
            color: darken(colorGet('darkgreen', 'dark'), 20%);
        }
    }
}
a.msg {
    &:hover p {
        background-color: colorGet('xxlight', 'grey');
    }
}

.divide-above {
  padding-top: 50px;
  border-top: 1px solid #d6dfe3;
}

::-webkit-input-placeholder {
    color: $placeholder-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
}

:-ms-input-placeholder {
    color: $placeholder-color;
}

*:disabled {
    color: $placeholder-color-disabled;

    &::-webkit-input-placeholder {
        color: $placeholder-color-disabled;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $placeholder-color-disabled;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $placeholder-color-disabled;
    }

    &:-ms-input-placeholder {
        color: $placeholder-color-disabled;
    }
}

.style-a {
  .input {
    border-radius: 3px;
    border: 1px solid $accent-color;
    padding-top: 1.429rem;
    padding-bottom: 1.429rem;

    input, .prefix, .suffix, .action {
      display: inline-block;
      font-size: 1.286rem;
    }
    .prefix, .suffix, .action {
    color: $accent-color;
    }
    .suffix {
      margin: 0 0 0 .5rem;
    }
    .prefix {
      margin: 0 .5rem 0 0;
    }
    .action {
      margin: 0;
      float: right;
    }
  }

  .input-group {
    .input {
      border-bottom-width: 0;
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom-width: 1px;
      }
    }
  }

  button {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $accent-color;
    outline: none;
    appearance: none;
    background: $accent-color;
    color: #fff;
    text-align: center;
    padding: 1.429rem 0;
    font-size: 1.286rem;
    cursor: pointer;
    transition: background-color .2s;
    &:hover {
      background-color: #299485 !important;
      border-color: #299485;
      outline: none;
      appearance: none;
      box-shadow: none;
    }
    &:active {
      background-color: #fff !important;
      color: $accent-color !important;
      outline: none;
      appearance: none;
      box-shadow: none;
    }
    &:focus {
      outline: none;
      appearance: none;
      box-shadow: none;
    }
  }

  .button-group {

    & button:first-child {
      border-radius: 8px 8px 0 0;
    }
    & button:last-child {
      border-radius: 0 0 8px 8px;
      background-color: #30a494;
      border-top-color: #1a8374;
    }
  }
}
