/// typography

// set a root font size for use with em/rem units
// default: 14px
html {
    font-size: $font-size-base;
}

// let all elements have an implicit font family.  especially useful when
// embedding iframes.
body {
    background-color: $color-body-bg;
    font-family: $font-family-base;
    margin: 0;

    * {
        font-family: inherit;
        box-sizing: border-box;
    }
}

// handle images overflowing content
// with a backup class to override the constraint
html {
    img {
        &.img {
            max-width: 100%;
            height: auto;
        }

        &.exceed-width {
            max-width: initial;
        }
    }
}

// set a fairly arbitrary heading styles.  assuming this will be
// overwritten in local css in most projects.
@each $level, $size in $headers {
    #{$level} {
        @include fontSize($size);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-bold;
    margin: 0 0 $gap-base;
    line-height: $line-height-multiple * 1em;
    letter-spacing: 0.01em;

    &.border-bottom,
    &.title {
        border-bottom: 1px solid;
        text-transform: uppercase;
    }

    &.heading {
        text-indent: 1rem;
        border-color: #B7B7B7;
        background-color: #EFEFEF;
        border-width: 1px 0;
        border-style: solid;
        padding: 10px 0;
    }
}

// the correct emfasis on the correct sylabell.
em {
    font-weight: 700;
}

// strongly emphasize
strong {
    font-weight: 700;
    text-decoration: underline;
}

// alternative to <del>
.strike {
    text-decoration: line-through;
}

.font-size-a {
    font-size: 1.1em;
}

.font-size-b {
    font-size: 1.2em;
}

.font-size-c {
    font-size: 1.3em;
}

.font-size-d {
    font-size: 1.4em;
}

.font-size-e {
    font-size: 1.5em;
}

// bowtie for h# elements
.fancy-dan::after {
    height: 0;
    border-bottom: calculateRem(3) solid #e36d6e;
    display: block;
    width: calculateRem(50);
    padding-top: calculateRem(3);
    margin: 0 auto;
    content: "";
    line-height: 0;
}

// dribbblefied near-black text block with large line-height
.display-text {
    font-size: 1rem;
    line-height: 2.4rem;
    color: #232323;
}

// 1000101
.code-text,
code {
    font-family: $font-family-code;
    white-space: pre;
}

p {
    line-height: $line-height-multiple * 1em;
    margin: 0 0 1rem;
}

// commonly used utility classes
// may want to prefix these to prevent overlap with other contrib CSS
.example-text {
    padding: 5px 0;
    background-color: #DCDCDC;
    text-align: center;
    border-radius: 3px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.lean {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.noselect {
    @extend %noselect;
}

.clearfix {
    @extend %clearfix;
}

// https://www.w3.org/TR/html5/text-level-semantics.html#the-small-element.
// "<small> is suitable for disclaimers, caveats,
// legal restrictions, or copyrights"
small.copyright {
    @include fontSize(12);
}

/// color

// print colors for default palette
@include colors;

a:not([class]),
a:not([class]):visited,
a[class=""],
a[class=""]:visited {
    color: colorGet("blue", "dark");
}

/// grid

.frame {
    position: relative;
    display: block;
}

.sliding-pane {
    position: relative;
    left: 0;
    transition: left $duration-menu-slide cubic-bezier(0.59, 0.3, 0.47, 0.96);
}

.constrain,
.container {
    max-width: maxBreakpoint();
    margin: auto;

    &.fullscreen {
        max-width: initial;
    }
}

.box {
    text-align: center;
    overflow: hidden;
}

// vertically center children of an element
.flex-vcenter {
    display: flex;
    box-align: center;
    flex-align: center;
    align-items: center;
}

// horizontally center children of a flex element
.flex-hcenter {
    justify-content: center;
}

.cont {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.no-overflow {
    overflow: hidden;
}

.lane {
    margin: 0 auto;
}

.row {
    &.flex {
        display: flex;
    }

    &.vcenter {
        align-items: center;
        justify-content: center;
    }

    & > div[class^="grid-"] > .inner {
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.card {
    background-color: #f1f1f1;
    padding: calculateRem(5);
    margin: calculateRem(5);
    border: 1px solid #ababab;
}

// generate utility classes for various margins
@include margins;

// generate classes for various widths
@include alleys;

@include boxes($col-count, "all-");

@media screen and (max-width: (map-get($breakpoints, "milli") - 1) * 1px) {
    @include boxes($col-count, "tablet-");
}

// default: 768px
@media screen and (min-width: map-get($breakpoints, "milli") * 1px) {
    // generate grid classes
    @include boxes;

    .row {
        display: flex;
        flex-wrap: wrap;

        &.desktop-reverse {
            flex-direction: row-reverse;
        }
    }
}

// default: 1188
@media screen and (min-width: (map-get($breakpoints, "deci") + $scrollbar-width) * 1px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/// form elements

// hide microsoft's "clear" button on text input fields
input[type=text]::-ms-clear {
    display: none;
}

// generate button colors
@each $flavor, $colors in $btn-flavors {
    @include btn($flavor, map-get($colors, "border"), map-get($colors, "bg"), map-get($colors, "text"));
}

.btn {
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    outline: none;

    &:disabled {
        cursor: default;
    }
}

// nothing to see here
input.incognito {
    background: transparent !important;
    border: none !important;
    appearance: none;
    outline: none !important;
}

/// message and alert widget

.msg {
    display: block;

    p {
        border-radius: 3px;
        border: 1px solid;
        padding: 1.25rem;
        background-color: colorGet("white", "base");
    }

    .plain {
        color: $text-color-default;
    }

    &.notice p {
        border-color: colorGet("orange", "base");
        color: colorGet("orange", "dark");

        a {
            color: darken(colorGet("orange", "base"), 20%);
        }
    }

    &.error p {
        border-color: colorGet("red", "base");
        color: colorGet("red", "dark");

        a {
            color: darken(colorGet("red", "dark"), 20%);
        }
    }

    &.info p {
        border-color: colorGet("blue", "base");
        color: colorGet("blue", "dark");

        a {
            color: darken(colorGet("blue", "dark"), 20%);
        }
    }

    &.success p {
        border-color: colorGet("darkgreen", "base");
        color: colorGet("darkgreen", "dark");

        a {
            color: darken(colorGet("darkgreen", "dark"), 20%);
        }
    }
}

a.msg {
    &:hover p {
        background-color: colorGet("xxlight", "grey");
    }
}

.divide-above {
    padding-top: 50px;
    border-top: 1px solid #d6dfe3;
}

::-webkit-input-placeholder {
    color: $placeholder-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
}

:-ms-input-placeholder {
    color: $placeholder-color;
}

*:disabled {
    color: $placeholder-color-disabled;

    &::-webkit-input-placeholder {
        color: $placeholder-color-disabled;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $placeholder-color-disabled;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $placeholder-color-disabled;
    }

    &:-ms-input-placeholder {
        color: $placeholder-color-disabled;
    }
}

/// overlay

.overlay-top-level {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-high;
}

.overlay-show .overlay-top-level {
    display: block;
}

/// style-a

$style-a-border-radius-button: calculateRem(8);

.input {
    .prefix, .suffix {
        display: inline-block;
        vertical-align: middle;
    }
}

.style-a {
    .input {
        position: relative;
        border-radius: calculateRem(3);
        border: 1px solid $accent-color;
        padding-top: calculateRem(10);
        padding-bottom: calculateRem(10);

        .prefix,
        .select-style,
        .suffix,
        input {
            display: inline-block;
            font-size: 1.286rem;
            vertical-align: middle;
        }

        .label {
            font-size: 1rem;
        }

        .action,
        .label,
        .prefix,
        .suffix {
            color: $accent-color;
        }

        .suffix {
            margin: 0 0 0 0.5rem;
        }

        .label,
        .prefix {
            margin: 0 0.5rem 0 0;
        }

        .action {
            cursor: pointer;
            position: absolute;
            padding: 0 calculateRem(12);
            font-size: calculateRem(12);
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
        }
    }

    .input-group {
        .input {
            border-bottom-width: 0;
            border-radius: 0;

            &:first-child {
                border-radius: 3px 3px 0 0;
            }

            &:last-child {
                border-radius: 0 0 3px 3px;
                border-bottom-width: 1px;
            }
        }
    }

    .btn-style-a {
        width: 100%;
        border-radius: calculateRem(8);
        border: 1px solid $accent-color;
        outline: none;
        appearance: none;
        background: $accent-color;
        color: #fff;
        text-align: center;
        line-height: 1.5rem;
        padding: calculateRem(10);
        font-size: calculateRem(18);
        cursor: pointer;
        transition: background-color 0.2s;

        // for iOS safari
        margin: 0;

        &:hover {
            background-color: #299485 !important;
            border-color: #299485;
            outline: none;
            appearance: none;
            box-shadow: none;
        }

        &:active {
            background-color: #fff !important;
            color: $accent-color !important;
            outline: none;
            appearance: none;
            box-shadow: none;
        }

        &:focus {
            outline: none;
            appearance: none;
            box-shadow: none;
        }
    }

    .button-group {
        button.btn-style-a {
            border-radius: 0;

            &:not(:first-child) {
                border-top-color: #1a8374;
            }

            &:first-child {
                border-radius: $style-a-border-radius-button $style-a-border-radius-button 0 0;
            }

            &:last-child {
                border-radius: 0 0 $style-a-border-radius-button $style-a-border-radius-button;
                background-color: #30a494;
            }

            &:only-child {
                border-radius: $style-a-border-radius-button;
            }
        }
    }

    .select-style {
        position: relative;
        display: inline-block;

        .select-style-inner {
            cursor: pointer;
            background-color: $accent-color;
            color: #fff;
            border: 1px solid $accent-color;
            border-radius: $style-a-border-radius-button;
            position: relative;
            overflow: hidden;

            .down-arrow {
                fill: #fff;
            }

            &:hover {
                background-color: #fff;
                color: $accent-color;

                .down-arrow {
                    fill: $accent-color;
                }
            }

            .select-style-arrow {
                margin: 0 1.2rem 0 0;
                padding: 0.25rem 0;
            }

            .select-style-value {
                display: inline-block;
                padding: 0.25rem 0 0.25rem 0.5rem;
            }

            .select-style-arrow,
            .select-style-arrow svg,
            .select-style-value {
                vertical-align: middle;
            }
        }

        .select-style-options {
            z-index: $z-index-mid + 1;
            display: none;
            background-color: #fff;
            position: absolute;
            top: 100%;
            top: calc(100% - 1px);
            left: 0;
            text-align: center;
            border: 1px solid $accent-color;
            border-radius: 0 0 $style-a-border-radius-button $style-a-border-radius-button;
            padding: 0.25rem 0;

            p {
                background-color: #fff;
                white-space: nowrap;
                cursor: pointer;
                display: block;
                padding: 0.3rem 4.25rem;
                margin: 0;

                &:hover {
                    background-color: $accent-color;
                    color: #fff;
                }

                &.select-style-default {
                    background-color: darken($accent-color, 5%);
                    color: #fff;
                }
            }
        }

        &.show {
            .select-style-options {
                display: block;
            }

            .select-style-inner {
                background-color: #fff;
                color: #000;
                border-radius: $style-a-border-radius-button $style-a-border-radius-button 0 0;

                .select-style-arrow {
                    .down-arrow {
                        fill: #000;
                    }
                }
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.1s;
    overflow: hidden;
    z-index: $z-index-modal;

    &.show {
        display: flex;
    }

    & > div:last-child {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        margin: 2rem 1.4rem 1.4rem;
    }
}

.show-overlay .overlay {
    display: flex;
}

body.show-overlay {
    overflow: hidden;
}

.screen {
    position: absolute;
    z-index: z-index-mid + 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.hide {
    display: none;

    &.show-block {
        display: block;
    }

    &.show-flex {
        display: flex;
    }

    &.show-inline {
        display: inline;
    }

    &.show-inline-block {
        display: inline;
    }
}

/// table
table {
    border-collapse: collapse;
    border-spacing: 0;

    td,
    tr {
        vertical-align: top;

        p {
            margin-bottom: 0;
        }
    }
}

// lists
ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        line-height: 1.3rem;
    }
}

.input-group {
    display: inline-table;

    .input {
        width: 100%;
    }

    .input, .input-submit {
        display: table-cell;
    }

    textarea {
        width: 100%;
        padding: 1rem;
    }
}

// style like a paper letter
.letter {
    padding: 1.25rem;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

    p {
        line-height: 1.5rem;
        font-size: 1.1rem;
    }

    .letter-body {
        text-indent: 2rem;

        &::first-letter {
            font-size: 1.4rem;
        }
    }
}

// we'll implicitly state when the hamburger icon is visible
.hamburgler {
    display: none;
    padding: 5px;
    cursor: pointer;
    transition: all $duration-menu-slide ease-out;

    .i-line {
        fill: #000;
    }

    &:hover {
        background-color: #000;

        .i-line {
            fill: #fff;
        }
    }
}

.animating {
    .hamburgler {
        background-color: transparent !important;
    }
}

.rotate > .hamburgler {
    position: absolute;
    z-index: $z-index-high + 1;
    transform: rotate(1.25turn);

    .i-line {
        fill: #fff;
    }
}

.sticky-top-desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-high + 50;
}

@media screen and (max-width: map-get($breakpoints, "milli") * 1px) {
    .sticky-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: $z-index-high + 50;
        transition: all $duration-menu-slide cubic-bezier(0.59, 0.3, 0.47, 0.96);
    }

    .menu-shift .sticky-top {
        left: 85%;
    }

    .collapsible-nav {
        display: block;
        position: fixed;
        background-color: transparentize(black, 0.1);
        top: 0;
        left: -100%;
        bottom: 0;
        right: initial;
        width: 100%;
        height: 100%;
        padding-left: 15%;
        transition: all $duration-menu-slide cubic-bezier(0.59, 0.3, 0.47, 0.96);

        &.cover {
            position: fixed;
            overflow: auto;
            display: none;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .link {
            padding: calculateRem(20);
            padding-left: 0;
            color: #fff;
            font-size: calculateRem(24);
            text-decoration: none;
            display: block;
            transition: padding-left 500ms ease-out;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            &:nth-of-type(1) {
                transition-delay: 00.1s;
            }

            &:nth-of-type(2) {
                transition-delay: 0.16s;
            }

            &:nth-of-type(3) {
                transition-delay: 0.22s;
            }

            &:nth-of-type(4) {
                transition-delay: 0.28s;
            }

            &:nth-of-type(5) {
                transition-delay: 0.34s;
            }
        }
    }

    .show-nav {
        & > .collapsible-nav {
            left: -15%;
            right: 30%;
            z-index: $z-index-high + 2;
        }

        .link {
            padding-left: 75px;
        }
    }

    .mobile-hide {
        display: none;
    }

    .menu-shift .sliding-pane {
        left: 85%;
    }

    .hamburgler {
        display: inline-block;
        overflow: hidden;

        .ham {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, "milli") * 1px) {
    .collapsible-nav {
        padding: calculateRem(5);
    }

    .desktop-hide {
        display: none;
    }
}

@media screen and (max-width: maxBreakpoint()) {
    .container, .constrain {
        &.mobile-wall-pad {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
