// .hamburgler {
//     display: none;
//     padding: 5px;
//     cursor: pointer;
//     transition: all $duration-menu-slide ease-out;

//     .i-line {
//         fill: #000;
//     }

//     &:hover {
//         background-color: #000;

//         .i-line {
//             fill: #fff;
//         }
//     }
// }

// .animating {
//     .hamburgler {
//         background-color: transparent !important;
//     }
// }

// .rotate > .hamburgler {
//     position: absolute;
//     z-index: $z-index-high + 1;
//     transform: rotate(1.25turn);

//     .i-line {
//         fill: #fff;
//     }
// }

// .sticky-top-desktop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: $z-index-high + 50;
// }

// @media screen and (max-width: map-get($breakpoints, "milli") * 1px) {
//     .sticky-top {
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         z-index: $z-index-high + 50;
//         transition: all $duration-menu-slide cubic-bezier(0.59, 0.3, 0.47, 0.96);
//     }

//     .menu-shift .sticky-top {
//         left: 85%;
//     }

//     .collapsible-nav {
//         display: block;
//         position: fixed;
//         background-color: transparentize(black, 0.1);
//         top: 0;
//         left: -100%;
//         bottom: 0;
//         right: initial;
//         width: 100%;
//         height: 100%;
//         padding-left: 15%;
//         transition: all $duration-menu-slide cubic-bezier(0.59, 0.3, 0.47, 0.96);

//         &.cover {
//             position: fixed;
//             overflow: auto;
//             display: none;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             right: 0;
//         }

//         .link {
//             padding: calculateRem(20);
//             padding-left: 0;
//             color: #fff;
//             font-size: calculateRem(24);
//             text-decoration: none;
//             display: block;
//             transition: padding-left 500ms ease-out;

//             &:hover {
//                 background-color: rgba(0, 0, 0, 0.4);
//             }

//             &:nth-of-type(1) {
//                 transition-delay: 00.1s;
//             }

//             &:nth-of-type(2) {
//                 transition-delay: 0.16s;
//             }

//             &:nth-of-type(3) {
//                 transition-delay: 0.22s;
//             }

//             &:nth-of-type(4) {
//                 transition-delay: 0.28s;
//             }

//             &:nth-of-type(5) {
//                 transition-delay: 0.34s;
//             }
//         }
//     }

//     .show-nav {
//         & > .collapsible-nav {
//             left: -15%;
//             right: 30%;
//             z-index: $z-index-high + 2;
//         }

//         .link {
//             padding-left: 75px;
//         }
//     }

//     .mobile-hide {
//         display: none;
//     }

//     .menu-shift .sliding-pane {
//         left: 85%;
//     }

//     .hamburgler {
//         display: inline-block;
//         overflow: hidden;

//         .ham {
//             width: 1.8rem;
//             height: 1.8rem;
//         }
//     }
// }
// @media screen and (min-width: map-get($breakpoints, "milli") * 1px) {
//     .collapsible-nav {
//         padding: calculateRem(5);
//     }
// }

.nav-main {
    a {
        text-decoration: none;
    }
}
