// why would a grown man put logic in his STYLE LAYER.
@function is-dark($color) {
    @if type-of($color) == 'color' {
        $darken: darken($color, 50%);
        @if $darken == #000 {
            @return true;
        } @else {
            @return false;
        }
    }
    @error 'Invalid type for variable $color';
}

/// color mixins

// returns hex from a combination of color and palette names.
// mainly to for convenience and consistency
@function color-get($key, $palette-name) {
    @if map-has-key($metapalette, $palette-name) {
        $selected-palette: map-get($metapalette, $palette-name);
        @if map-has-key($selected-palette, $key) {
            @return map-get($selected-palette, $key);
        }
    }
    @error 'Unknown `#{$key}` in palette #{$palette_name}';
    @return null;
}

// print classes for a palette's to be used for color and background color.
@mixin colors($palette: $palette) {
    @each $color, $hex in $palette {
        .color-bg-#{$color} {
            background-color: #{$hex};

            // set a similar but distinct text color to match the background
            &.complimentary-color {
                @if is-dark($hex) {
                    color: lighten($hex, 30%);
                } @else {
                    color: darken($hex, 30%);
                }
            }
        }

        .color-text-#{$color} {
            color: #{$hex};
        }

        .color-fill-#{$color} {
            fill: #{$hex};
        }
    }
}

/// grid mixins

// returns the largest breakpoint in a list of breakpoints.
// used to allow modifications to config variables to casscade to various
// dependent css rules.
@function max-breakpoint($breakpoints: $breakpoints) {
    $max: 0;
    @each $tag, $px in $breakpoints {
        @if $px > $max {
            $max: $px;
        }
    }
    @return #{$max + 'px'};
}

// prints out the list of grid classes
// not very important since grids are surprisingly useless.
@mixin boxes($col-count: $col-count, $qualifier: '') {
    @for $index from 1 through $col-count {
        .grid-#{$qualifier}#{$index} {
            min-height: 1px;
            flex: 0 0 #{((100 / $col-count) * $index) + '%'};
        }
    }

    .grid-#{$qualifier}distribute {
        min-height: 10px;
        flex: 1;
    }
}

// print a list of containing divs in incremental widths of ~ 100px
// vertical content bars. occasionally useful
@mixin alleys($col-count: $col-count) {
    @for $index from 1 through $col-count {
        $alley-name: '.alley-#{$index}00';

        #{$alley-name} {
            max-width: 100%;
            width: calculate-rem($index * 100);
        }
    }
}

// print set of utility classes to add top,down,left,right margins and padding
@mixin margins($limit: 20) {
    @for $index from 1 through $limit {
        $increment: $index;

        .tpush-#{$increment} {
            margin-top: calculate-rem($increment);
        }

        .tpad-#{$increment} {
            padding-top: calculate-rem($increment) !important;
        }

        .lpush-#{$increment} {
            margin-left: calculate-rem($increment);
        }

        .lpad-#{$increment} {
            padding-left: calculate-rem($increment) !important;
        }

        .rpush-#{$increment} {
            margin-right: calculate-rem($increment);
        }

        .rpad-#{$increment} {
            padding-right: calculate-rem($increment) !important;
        }

        .bpush-#{$increment} {
            margin-bottom: calculate-rem($increment);
        }

        .bpad-#{$increment} {
            padding-bottom: calculate-rem($increment) !important;
        }
    }
}

/// typography mixins

// shorthand to print a rem font-size with a pixel backup.  not using em
// because it has the ability to blow up.
@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: calculate-rem($size);
}

// return rem equivalent for supplied pixel measurement, without units
@function calculate-rem-scale($size) {
    @return round(($size / $font-base-value) * 1000000) / 1000000;
}

// return rem equivalent for supplied pixel measurement, with units
@function calculate-rem($size) {
    @return calculate-rem-scale($size) * 1rem;
}

/// button mixins

// prints list of button color variant classes.
// auto build button styling by updating config.
@mixin btn($flavor, $border, $bg, $text) {
    .btn-#{$flavor} {
        border-color: color-get($border, 'base');
        color: color-get($text, 'base');
        background-color: color-get($bg, 'base');

        &:hover {
            border-color: darken(color-get($border, 'base'), 20%);
            color: darken(color-get($text, 'base'), 20%);
            background-color: darken(color-get($bg, 'base'), 20%);
        }

        &:active {
            border-color: darken(color-get($border, 'base'), 40%);
            color: darken(color-get($text, 'base'), 40%);
            background-color: darken(color-get($bg, 'base'), 40%);
        }

        &:disabled {
            border-color: desaturate(color-get($border, 'base'), 80%);
            color: desaturate(color-get($text, 'base'), 80%);
            background-color: desaturate(color-get($bg, 'base'), 80%);
        }
    }
}
@function btn-color-dark($color) {
    $hex: color-get($color, 'base');
    @if is-dark($color) {
        $new-color: desaturate(lighten($hex, 10%), 10%);
    } @else {
        $new-color: saturate(darken($hex, 10%), 10%);
    }
    @return $new-color;
}

/// a list of generic attributes you may want to add to class
///

// credit - modified from http://stackoverflow.com/a/4407335
/// usage: .elem { @extend %noselect;}
%noselect {
    -webkit-touch-callout: none;
    user-select: none;
}

/// usage: .elem { @extend %clearfix;}
%clearfix {
    &::after,
    &::before {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

/// usage: .elem { @extend %visuallyhidden;}
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0 , 0);
    position: absolute;
    visibility: hidden;
}
