// why would a grown man put logic in his STYLE LAYER.
@function isDark($color) {
    @if type-of($color) == 'color' {
        $darken: darken($color, 50%);
        @if $darken == #000 {
             @return true;
        }
        @else {
             @return false;
        }
    }
    @warn "invalid type for variable $color";
}

/// color mixins

// returns hex from a combination of color and palette names.
// mainly to for convenience and consistency
@function colorGet($key, $palette_name) {
     @if map-has-key($metapalette, $palette_name){
        $selected_palette: map-get($metapalette, $palette_name);
        @if map-has-key($selected_palette, $key) {
             @return map-get($selected_palette, $key);
        }
    }
    @warn "Unknown `#{$key}` in palette #{$palette_name}";
    @return null;
}

// print classes for a palette's to be used for color and background color.
@mixin colors($palette: $palette) {
     @each $color, $hex in $palette{
        .color-bg-#{$color} {
            background-color: #{$hex};

            // set a similar but distinct text color to match the background
            &.complimentary-color {
                @if isDark($hex) {
                    color: lighten($hex, 30%);
                }
                @else {
                    color: darken($hex, 30%);
                }
            }
        }

        .color-text-#{$color} {
            color: #{$hex};
        }

        .color-fill-#{$color} {
            fill: #{$hex};
        }
    }
}

/// grid mixins

// returns the largest breakpoint in a list of breakpoints.
// used to allow modifications to config variables to casscade to various
// dependent css rules.
@function maxBreakpoint($breakpoints: $breakpoints) {
    $max: 0;
    @each $tag, $px in $breakpoints {
         @if $px > $max{
            $max: $px;
        }
    }
    @return #{$max + 'px'};
}

// prints out the list of grid classes
// not very important since grids are surprisingly useless.
@mixin boxes($col-count: $col-count, $qualifier: '') {
     @for $index from 1 through $col-count{
        .grid-#{$qualifier}#{$index} {
            min-height   : 1px;
            flex         : 0 0 #{((100 / $col-count) * $index) + '%'};
        }
    }

    .grid-#{$qualifier}distribute {
        min-height   : 10px;
        flex         : 1;
    }
}

// print a list of containing divs in incremental widths of ~ 100px
// vertical content bars. occasionally useful
@mixin alleys($col-count: $col-count) {
     @for $index from 1 through $col-count{
        .alley-#{$index}00 {
            max-width: 100%;
            width    : calculateRem($index * 100);
        }
    }
}

// print set of utility classes to add top,down,left,right margins and padding
@mixin margins($limit: 20) {
     @for $index from 1 through $limit{
        $increment: $index * 5;

        .tpush-#{$increment} {
            margin-top: calculateRem($increment);
        }

        .tpad-#{$increment} {
            padding-top: calculateRem($increment) !important;
        }

        .lpush-#{$increment} {
            margin-left: calculateRem($increment);
        }

        .lpad-#{$increment} {
            padding-left: calculateRem($increment) !important;
        }

        .rpush-#{$increment} {
            margin-right: calculateRem($increment);
        }

        .rpad-#{$increment} {
            padding-right: calculateRem($increment) !important;
        }

        .bpush-#{$increment} {
            margin-bottom: calculateRem($increment);
        }

        .bpad-#{$increment} {
            padding-bottom: calculateRem($increment) !important; 
        }
    }
}

/// typography mixins

// shorthand to print a rem font-size with a pixel backup.  not using em
// because it has the ability to blow up.
@mixin fontSize($size) {
    font-size: $size * 1px;
    font-size: calculateRem($size);
}

// return rem equivalent for supplied pixel measurement, without units
@function calculateRemScale($size) {
     @return round(($size / $font-base-value) * 1000000) /1000000;
}

// return rem equivalent for supplied pixel measurement, with units
@function calculateRem($size) {
     @return calculateRemScale($size) * 1rem;
}

/// button mixins

// prints list of button color variant classes.
// auto build button styling by updating config.
@mixin btn($flavor, $border, $bg, $text) {
    .btn-#{$flavor} {
        border-color    : colorGet($border, 'base');
        color           : colorGet($text, 'base');
        background-color: colorGet($bg, 'base');

        &:hover {
            border-color    : darken(colorGet($border, 'base'), 20%);
            color           : darken(colorGet($text, 'base'), 20%);
            background-color: darken(colorGet($bg, 'base'), 20%);
        }

        &:active {
            border-color    : darken(colorGet($border, 'base'), 40%);
            color           : darken(colorGet($text, 'base'), 40%);
            background-color: darken(colorGet($bg, 'base'), 40%);
        }

        &:disabled {
            border-color    : desaturate(colorGet($border, 'base'), 80%);
            color           : desaturate(colorGet($text, 'base'), 80%);
            background-color: desaturate(colorGet($bg, 'base'), 80%);
        }
    }
}
@function btnColorDark($color) {
    $hex: colorGet($color, 'base');
    @if isDark($color) {
        $newColor: desaturate(lighten($hex, 10%), 10%);
    }
    @else {
        $newColor: saturate(darken($hex, 10%), 10%);
    }
    @return $newColor;
}

/// a list of generic attributes you may want to add to class
///

// credit - modified from http://stackoverflow.com/a/4407335
/// usage: .elem { @extend %noselect;}
%noselect {
    -webkit-touch-callout: none;
    user-select          : none;
}

/// usage: .elem { @extend %clearfix;}
%clearfix {
    *zoom: 1;

    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/// usage: .elem { @extend %visuallyhidden;}
%visuallyhidden {
    margin    : -1px;
    padding   : 0;
    width     : 1px;
    height    : 1px;
    overflow  : hidden;
    clip      : rect(0,0,0,0);
    clip      : rect(0,0,0,0,0);
    position  : absolute;
    visibility: hidden;
}
