////
/// File level annotation test
/// @author jayfid
////

/*
 * Vinyl Siding
 * A minor framework for web apps.
 * License @ https://github.com/jayfid/vinyl/LICENSE
 */

@import 'config';
@import 'mixins';
@import 'base';

@if $debug {
    html * {
        outline: 1px red solid !important;
    }
}
