////
/// File level annotation test
/// @author jayfid
////
@import 'config';
@import 'mixins';

@import '/bower_components/normalize-css/normalize.css';

@import 'base/base';

@if $debug {
    html * {
        outline: 1px red solid !important;
    }
}
