////
/// File level annotation test
/// @author jayfid
////
@import 'config/config';
@import 'mixins/mixins';


@import '/bower_components/normalize-css/normalize.css';

@import 'base/base';
@import 'widgets/widgets';

@if $debug {
    html * {
        outline: 1px red solid !important;
    }
}
