body {
    background-color: $color-body-bg;
}

@each $color, $hex in $palette {
    .color-bg-#{$color} {
        background-color: #{$hex};
    }
    @if isDark($hex) {
        .color-#{$color} {
            color: lighten($hex, 30%);
        }
    }
    @else {
        .color-#{$color} {
            color: darken($hex, 30%);
        }
    }
}

a:not([class]),
a:not([class]):visited,
a[class=""],
a[class=""]:visited {
    color: darkColorGet('blue');
}
