body {
    * {
        box-sizing: border-box;
    }
}

.constrain,
section {
    max-width: maxBreakpoint();
    margin   : auto;

    &.fullscreen {
        max-width: initial;
    }
}

.box {
    border-bottom: 20px solid;
    text-align   : center;
    overflow     : hidden;
}

.flex-vcenter {
    display            : ms-flexbox;
    display            : webkit-flexbox;
    display            : flex;
    -ms-flex-align     : center;
    -webkit-align-items: center;
    -webkit-box-align  : center;
    align-items        : center;

    & > * {
        flex: 1;
    }
}

.cont {
    position : relative;
    max-width: 100%;
    overflow : hidden;
}

.no-overflow {
    overflow: hidden;
}

.row {
    &.vcenter {
        align-items    : center;
        justify-content: center;
    }
}

.cont {
    padding: 0 10px;
}

@media screen and (min-width: #{map-get($breakpoints, 'milli')}px) {
    .cont {}
    @include boxes();

    .row {
        display     : flex;
        flex-wrap   : wrap;
        margin-left : -10px;
        margin-right: -10px;
    }
}

@media screen and (min-width: #{map-get($breakpoints, 'deci') + $scrollbar-width}px) {
    .cont {
        padding: 0;
    }

    .row {
        margin-left : 0;
        margin-right: 0;
    }
}
