/// color vars

$color-body-bg: #FFF;

$palette: (
    "black": #000,
    "white": #FFF,
    "red": #d34c4c,
    "orange": #ea9847,
    "yellow": #f9ed5f,
    "green": #55e046,
    "blue": #3a9ef9,
    "indigo": #904cf2,
    "violet": #eb59ef
);

$palette-dark: (
    "red": #a53535,
    "orange": #cc803b,
    "yellow": #e2d156,
    "green": #0fd30f,
    "blue": #0872c1,
    "indigo": #602cc4,
    "violet": #bc2ac4
);

$greys: (
    "xlight": #d3d3d3,
    "light": #a5a5a5,
    "xmedium": #5b5b5b,
    "medium": #333333,
    "blue": #2a3438,
    "darkblue": #171c1e
);
