/*typography vars*/
$font-base-value: 14;

$font-size-base: $font-base-value + 'px';

$font-size-header: 1 * $font-base-value;

$font-family-sans: "Helvetica Neue", helvetica, arial, sans-serif;
/* From https://css-tricks.com/snippets/css/font-stacks/ */
$font-family-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-family-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
/*  */

$font-family-base: $font-family-sans;

$font-weight-xtra-light: 200;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-xtra-bold: 900;

$line-height-multiple: 1.25;

$headers: (
    "h1": $font-size-header * 2.25,
    "h2": $font-size-header * 2,
    "h3": $font-size-header * 1.75,
    "h4": $font-size-header * 1.5,
    "h5": $font-size-header * 1.25,
    "h6": $font-size-header
);
