@mixin btn($flavor, $border, $bg, $text) {
    .btn-#{$flavor} {
        border-color: colorGet($border);
        color: colorGet($text);
        background-color: colorGet($bg);
        &:hover {
            border-color: darken(colorGet($border), 20%);
            color: darken(colorGet($text), 20%);
            background-color: darken(colorGet($bg), 20%);
        }
        &:active {
            border-color: darken(colorGet($border), 40%);
            color: darken(colorGet($text), 40%);
            background-color: darken(colorGet($bg), 40%);
        }
        &:disabled {
            border-color: desaturate(colorGet($border), 80%);
            color: desaturate(colorGet($text), 80%);
            background-color: desaturate(colorGet($bg), 80%);
        }
    }
}

@function btnColorDark($color) {
    $hex: colorGet($color);
    @if isDark($color) {
        $newColor: desaturate(lighten($hex, 10%), 10%);
    }
    @else {
        $newColor: saturate(darken($hex, 10%), 10%);
    }
    @return $newColor;
}
