@function isDark($color) {
    @if type-of($color) == 'color' {
        $darken: darken($color, 50%);
        @if $darken == #000 {
            @return true;
        }
        @else {
            @return false;
        }
    }
    @warn "invalid type for variable $color";
}
