@function isDark($color) {
    @if type-of($color) == 'color' {
        $darken: darken($color, 50%);
        @if $darken == #000 {
            @return true;
        }
        @else {
            @return false;
        }
    }
    @warn "invalid type for variable $color";
}

@function colorGet($key) {
    @if map-has-key($palette, $key) {
        @return map-get($palette, $key)
    }
    @warn "Unknown `#{$key}` in $palette";
    @return null;
}

@function darkColorGet($key) {
    @if map-has-key($palette-dark, $key) {
        @return map-get($palette-dark, $key);
    }
    @warn "Unknown `#{$key}` in $palette-dark";
    @return null;
}
