@function maxBreakpoint($breakpoints: $breakpoints) {
    $max: 0;
    @each $tag, $px in $breakpoints {
        @if $px > $max {
            $max: $px;
        }
    }
    @return #{$max + 'px'};
}


@mixin boxes($col-count: $col-count) {
    @for $index from 1 through $col-count {
        .grid-#{$index} {
            flex: 0 0 #{(100 / $col-count) + '%'};
        }
    }
}
