body {
    background-color: $color-body-bg;
}

@each $color, $hex in $palette {
    .color-bg-#{$color} {
        background-color: #{$hex};
    }
    @if isDark($hex) {
        .color-#{$color} {
            color: lighten($hex, 30%);
        }
    }
    @else {
        .color-#{$color} {
            color: darken($hex, 30%);
        }
    }
}
