body {
    max-width: maxBreakpoint();
    margin: auto;
    * {
        box-sizing: content-box;
    }
}
.box {
    padding: $gap-base;
    margin: $gap-base;
    border: 1px solid;
    text-align: center;
}

.cont {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.no-overflow {
    overflow: hidden;
}

.horiz-content {
    display: flex;
    flex-wrap: wrap;
}

@include boxes();
