/*typography vars*/
html {
    font-size: $font-size-base;
}

body {
    font-family: $font-family-base;
}

body * {
    font-family: inherit;
}

@each $level, $size in $headers {
    #{$level} {
        @include fontSize($size);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    margin: 0 0 $gap-base 0;
    line-height: #{$line-height-multiple + 'em'};
}

p {
    line-height: #{$line-height-multiple + 'em'};
    margin: 0 0 $gap-base 0;
}
