/*message and alert widget*/

.msg {
    padding: 0 1.25rem;
    p {
        border: 2px solid;
        padding: 1.25rem;
        background-color: colorGet('white');
    }
    a {
        color: inherit;
    }
    &.notice p {
        border-color: colorGet('orange');
        color: darkColorGet('orange');
    }
    &.error p {
        border-color: colorGet('red');
        color: darkColorGet('red');
    }
    &.info p {
        border-color: colorGet('blue');
        color: darkColorGet('blue');
    }
    &.success p {
        border-color: colorGet('green');
        color: darkColorGet('green');
    }
}
